.proposal {
  padding: 20px;

  >.proposal_back {
    margin-bottom: 30px;
  }

  >.proposal_form {
    margin: 0 200px;

    >.proposal_form_title {
      font-size: 34px;
      font-weight: 400;
      margin-bottom: 6px;
    }

    >.proposal_form_subTitle {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 50px;
    }

    >.proposal_form_context {

      >.p_f_c_title,
      >.p_f_c_description,
      >.p_f_c_date {
        margin-bottom: 30px;
      }
      > .p_f_c_date {
        display: flex;
        flex-direction: row;
        align-items: center;
        > .p_f_c_d_box {
          margin: 0 20px;
        }
      }
    }
  }
}